<IfModule mod_rewrite.c>
    RewriteEngine On

    # Força o redirecionamento se o usuário acessar a raiz do projeto
    RewriteRule ^$ public/ [L]

    # Redireciona qualquer outra rota interna para a pasta pública
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
